html,
body {
  padding: 0;
  margin: 0;
  font-family: "LXGW WenKai Screen", sans-serif;
  font-size: 18px;
}
*::-webkit-scrollbar {
  display: none;
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.body {
  width: 100vw;
}
.header {
  height: 5vh;
  padding: 0 10vw;
}
.main {
  min-height: 90vh;
}
.footer {
  height: 5vh;
}
.header > .title {
  font-size: 26px;
}
.filing {
  padding-bottom: 1vh;
  font-size: 16px;
}
.filing > a {
  text-decoration: none;
  color: #000;
}
.filing > a:hover {
  color: #409eff;
  cursor: pointer;
}
