<!--<div class="home flex">-->
<!--    <div class="text-magic subtitle" data-word="<%= config.subtitle %>">-->
<!--        <%= config.subtitle %>-->
<!--        <div class="white"></div>-->
<!--    </div>-->
<!--</div>-->