.post-content
    code, pre
        line-height 1.7em
        padding 7px
        font-size 13px
        font-family Consolas, Monaco, Menlo, Consolas, monospace

    code
        border-radius 20px

        &::-webkit-scrollbar
            display none