.body
    width 100vw

.header
    height 5vh
    padding 0 1vw
    background: var(--bg-color-secondary)

.main
    height: 90vh
    position: relative

    &:before
        top: 0
        content: ""
        height: 23px;
        left: 0
        position: absolute
        width: 100%
        transform: rotate(180deg);

    &:after
        bottom: 0
        content: ""
        height: 48px
        left: 0
        position: absolute
        width: 100%

    @media (prefers-color-scheme: light)
        &:before
            background-image: none

        &:after
            background-image: none

    @media (prefers-color-scheme: dark)
        &:before
            background-image: url("/assets/img/razor-top.svg")

        &:after
            background-image: url("/assets/img/razor-bottom.svg")

    & > div:first-child
        height: 23px

    & > div:nth-child(2)
        height: calc(90vh - 23px - 48px)
        overflow-x: hidden
        overflow-y: scroll

    & > div:last-child
        height: 48px

.footer
    height 5vh
    background: var(--bg-color-secondary)