.footer
    .filing
        padding-bottom: 1vh
        font-family: "LXGW WenKai Screen"
        font-size: font-size-small
        color color-regular

    .filing > a
        text-decoration none
        color color-regular

    .filing > a:hover
        color color-regular
        cursor pointer