.body {
  width: 100vw;
}
.header {
  height: 5vh;
  padding: 0 1vw;
  background: color-secondary;
}
.main {
  height: 90vh;
  position: relative;
}
.main:before {
  background-image: url("/assets/img/razor-top.svg");
  top: 0;
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  width: 100%;
  transform: rotate(180deg);
}
.main:after {
  background-image: url("/assets/img/razor-bottom.svg");
  bottom: 0;
  content: "";
  height: 48px;
  left: 0;
  position: absolute;
  width: 100%;
}
.main > div:first-child {
  height: 23px;
}
.main > div:nth-child(2) {
  height: calc(90vh - 23px - 48px);
  overflow-x: hidden;
  overflow-y: scroll;
}
.main > div:last-child {
  height: 48px;
}
.footer {
  height: 5vh;
  background: color-secondary;
}
