.header .title {
  font-size: 0.8rem;
  font-family: TitleBlack;
}
@media (prefers-color-scheme: light) {
  .header .title {
    font-family: LXGWWenKaiScreen;
  }
}
@media (prefers-color-scheme: dark) {
  .header .title {
    font-family: TitleBlack;
  }
}
.header .menu {
  font-size: var(--font-size-base);
}
