<div class="flex justify-content-space-between header">
  <div><%= config.title %></div>
  <div>
    <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </div>
</div>
