@font-face
    font-family: Cyberpunk
    src: url('./fonts/Cyberpunk.ttf')

html, body
    padding 0
    margin 0
    background: color-primary-background

*::-webkit-scrollbar
    display: none

.flex
    display flex

.justify-content-center
    justify-content center

.justify-content-space-between
    justify-content space-between

.align-items-flex-end
    align-items: flex-end

.align-items-center
    align-items: center

.neon
    text-shadow: 0 0 3vw #FF0066
    animation: neon 2s ease-in-out infinite

.flux
    text-shadow: 0 0 3vw #179E05
    animation: flux 2s linear infinite

@keyframes neon
    0%, 100%
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914
        color: #FF0066

    50%
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A
        color: #806914


@keyframes flux
    0%, 100%
        text-shadow: 0 0 1vw #10ff4c, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280
        color: #03C03C

    50%
        text-shadow: 0 0 .5vw #024218, 0 0 1.5vw #024713, 0 0 5vw #023812, 0 0 5vw #012707, 0 0 .2vw #022201, .5vw .5vw .1vw #011a06
        color: #179E05