// Colors
color-primary = #FFFFFF
color-secondary = #FCEE0A
color-dot = #FF003C
color-regular = #000000
color-link-hover = #409EFF
color-primary-background = #000000

// font
font-size-extra-large = 28px
font-size-large = 26px
font-size-medium = 22px
font-size-base = 0.5rem
font-size-small = 0.3rem
font-size-extra-small = 14px