:root
    --font-size-base: 0.5rem
    --font-size-small: 0.3rem

@media (prefers-color-scheme: light)
    :root
        --bg-color-primary: #F3F7FE
        --bg-color-secondary: #F3F7FE
        --bg-color-dot: #E1ECFC
        --link-color-hover: #409EFF

@media (prefers-color-scheme: dark)
    :root
        --bg-color-primary: #000000
        --bg-color-secondary: #FCEE0A
        --bg-color-dot: #FF003C
        --link-color-hover: #409EFF
