// Colors
color-primary = #FFFFFF
color-secondary = #FCEE0A
color-regular = #000000
color-link-hover = #409EFF
color-primary-background = #000000

// font
font-size-extra-large = 28px
font-size-large = 26px
font-size-medium = 22px
font-size-base = 18px
font-size-small = 16px
font-size-extra-small = 14px