@import "variables"
@import "extend"

html,body
    padding 0
    margin 0
    font-family: "LXGW WenKai Screen", sans-serif;

.flex
    display flex

.justify-content-center
    justify-content center

.justify-content-space-between
    justify-content space-between

@import "partial/header"
@import "partial/footer"