@import "variables"
@import "extend"

html, body
    padding 0
    margin 0
    font-family: "LXGW WenKai Screen", sans-serif
    font-size: font-size-base

*::-webkit-scrollbar
    display: none

.flex
    display flex

.justify-content-center
    justify-content center

.justify-content-space-between
    justify-content space-between

.align-items-flex-end
    align-items: flex-end

.align-items-center
    align-items: center

@import "partial/body"
@import "partial/header"
@import "partial/footer"