// Colors
color-primary = #000000
color-regular = #606266
color-secondary = #909399
color-placeholder = #A8ABB2
color-link-hover = #409EFF

// font
font-size-extra-large = 28px
font-size-large = 26px
font-size-medium = 22px
font-size-base = 18px
font-size-small = 16px
font-size-extra-small = 14px