<div></div>
<div>
    <% if(is_home()) { %>
        <%- partial('../page/home') %>
    <% } %>

    <% if(is_archive()) { %>
        <%- partial('../page/archive') %>
    <% } %>
    <% if(is_post()) { %>
        <%- partial('../page/post') %>
    <% } %>
    <% if(is_page()) { %>
        22
    <% } %>
</div>
<div></div>